In [1]:
from sklearn.preprocessing import Imputer
import pandas as pd

In [7]:
df=pd.DataFrame([[1,'NaN',1], [1, 'NaN', 2], ['NaN', 2, 4]])
df

     0    1  2
0    1  NaN  1
1    1  NaN  2
2  NaN    2  4

In [5]:
imputer_0= Imputer(strategy='mean')

In [6]:
imputer_0.fit_transform(df)

array([[ 1.,  2.,  1.],
       [ 1.,  2.,  2.],
       [ 1.,  2.,  4.]])

In [9]:
imputer_1= Imputer(strategy='mean', axis=1)
imputer_1.fit_transform(df)

array([[ 1. ,  1. ,  1. ],
       [ 1. ,  1.5,  2. ],
       [ 3. ,  2. ,  4. ]])