In [5]:
import pandas as pd
import numpy as np

In [20]:
df=pd.DataFrame([[np.nan,1,1],[2,2,2],['hello','wor','ld']], columns=['a','b','c'])

In [21]:
df

       a    b   c
0    NaN    1   1
1      2    2   2
2  hello  wor  ld

In [12]:
df.sum(axis=0)

a    5.0
b    6.0
c    6.0
dtype: float64

In [14]:
df.dropna(axis=0)

     a  b  c
1  2.0  2  2
2  3.0  3  3

In [15]:
dt = df.dropna(axis=1)

In [16]:
dt

   b  c
0  1  1
1  2  2
2  3  3

In [17]:
dt.shape

(3, 2)

In [19]:
dt.T.shape

(2, 3)

In [30]:
from collections import defaultdict